// colors
$black-color: #000000;
$white-color: #ffffff;
$gray-color: #33363b;
$lightGray-color: #929496;
$lightGray-color2: #f4f4f4;
$lightGray-color3: #e5e4e4;
$darkGray-color: #2c3035;
$darkGray-color2: #666666;

$darkRed-color: #873a3c;
$red-color: #e73e3e;
$blue-color: #3d68b5;

// fonts
@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-Thin;
  src: url("../fonts/Poppins-Thin.ttf");
}
@font-face {
  font-family: CaviarDreams-Regular;
  src: url("../fonts/CaviarDreams.ttf");
}
@font-face {
  font-family: CaviarDreams-Bold;
  src: url("../fonts/CaviarDreams_Bold.ttf");
}
@font-face {
  font-family: Rajdhani-Bold;
  src: url("../fonts/Rajdhani-Bold.ttf");
}

$Poppins-RegularFont: Poppins-Regular, sans-serif;
$Poppins-ThinFont: Poppins-Thin, sans-serif;
$CaviarDreams-RegularFont: CaviarDreams-Regular, sans-serif;
$CaviarDreams-BoldFont: CaviarDreams-Bold, sans-serif;
$Rajdhani-BoldFont: Rajdhani-Bold, sans-serif;

html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $Poppins-RegularFont;
  font-size: 1.6rem;
  color: $black-color;
}
.form-control:focus {
  box-shadow: none;
}
